flows (1).json
[{"id":"eee28070.de191","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9de6cac6.41cb38","type":"debug","z":"eee28070.de191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":220,"wires":[]},{"id":"e800bcc8.33b77","type":"function","z":"eee28070.de191","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["9de6cac6.41cb38","6769748a.1b043c"]]},{"id":"cba8ef7c.d19e8","type":"function","z":"eee28070.de191","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["9de6cac6.41cb38","17e65577.374b9b"]]},{"id":"390ba9e0.e8d396","type":"debug","z":"eee28070.de191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":580,"wires":[]},{"id":"66ebe647.a69878","type":"http in","z":"eee28070.de191","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":300,"y":760,"wires":[["a5d0f384.23b9d"]]},{"id":"2dfe2bb.7c25fd4","type":"http response","z":"eee28070.de191","name":"","statusCode":"","headers":{},"x":670,"y":780,"wires":[]},{"id":"a5d0f384.23b9d","type":"function","z":"eee28070.de191","name":"web url","func":"msg.payload={\"Temperature\":global.get(\"temperature\"),\"Humidity\":global.get(\"humidity\"),\"vibration\":global.get(\"vibration\"),\"current\":global.get(\"current\")}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":720,"wires":[["2dfe2bb.7c25fd4"]]},{"id":"f09a3eaf.3a5e3","type":"function","z":"eee28070.de191","name":"app","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["328e71d.71adf8e","390ba9e0.e8d396","7c66af30.83242"]]},{"id":"7d88f452.069ecc","type":"http in","z":"eee28070.de191","name":"","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":310,"y":460,"wires":[["f09a3eaf.3a5e3"]]},{"id":"328e71d.71adf8e","type":"http response","z":"eee28070.de191","name":"","statusCode":"","headers":{},"x":710,"y":460,"wires":[]},{"id":"ec0fcf25.73b6a","type":"function","z":"eee28070.de191","name":"vibration","func":"global.set('vibration',msg.payload.vibration)\nmsg.payload=msg.payload.vibration\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["fccf4da7.a7ef7","9de6cac6.41cb38"]]},{"id":"c312ca58.a818c8","type":"function","z":"eee28070.de191","name":"current","func":"global.set('current',msg.payload.current)\nmsg.payload=msg.payload.current\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["622d30bc.7f23f","9de6cac6.41cb38"]]},{"id":"7c66af30.83242","type":"ibmiot out","z":"eee28070.de191","authentication":"apiKey","apiKey":"244b8dd7.137fb2","outputType":"cmd","deviceId":"12345","deviceType":"rasp","eventCommandType":"Weather","format":"json","data":"blink","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":660,"wires":[]},{"id":"11ebec34.43e734","type":"ibmiot in","z":"eee28070.de191","authentication":"apiKey","apiKey":"244b8dd7.137fb2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"rasp","eventType":"Weather","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":280,"y":220,"wires":[["9de6cac6.41cb38","e800bcc8.33b77","cba8ef7c.d19e8","ec0fcf25.73b6a","c312ca58.a818c8"]]},{"id":"5ee4925d.78332c","type":"ui_button","z":"eee28070.de191","name":"","group":"dbe989c5.1238e8","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"str","topic":"","x":340,"y":560,"wires":[["7c66af30.83242","390ba9e0.e8d396"]]},{"id":"b57d8df9.495ef","type":"ui_button","z":"eee28070.de191","name":"","group":"7e7e3982.1e4cd8","order":0,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"str","topic":"","x":350,"y":640,"wires":[["7c66af30.83242","390ba9e0.e8d396"]]},{"id":"6769748a.1b043c","type":"ui_gauge","z":"eee28070.de191","name":"Temperature","group":"43230d53.09f174","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#d6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":140,"wires":[]},{"id":"17e65577.374b9b","type":"ui_gauge","z":"eee28070.de191","name":"Humidity","group":"f72ca27.a06916","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":180,"wires":[]},{"id":"fccf4da7.a7ef7","type":"ui_gauge","z":"eee28070.de191","name":"vibration","group":"874937c9.aab818","order":0,"width":0,"height":0,"gtype":"compass","title":"Vibration","label":"HZ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#d6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":260,"wires":[]},{"id":"622d30bc.7f23f","type":"ui_gauge","z":"eee28070.de191","name":"Current","group":"17f61769.6bf689","order":0,"width":0,"height":0,"gtype":"wave","title":"Current","label":"A","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#d6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":320,"wires":[]},{"id":"244b8dd7.137fb2","type":"ibmiot","z":"","name":"api","keepalive":"60","serverName":"2u4wmg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"dbe989c5.1238e8","type":"ui_group","z":"","name":"Motor on","tab":"38f9dd4c.8f5c02","order":5,"disp":true,"width":"6","collapse":false},{"id":"7e7e3982.1e4cd8","type":"ui_group","z":"","name":"Motor off","tab":"38f9dd4c.8f5c02","order":6,"disp":true,"width":"6","collapse":false},{"id":"43230d53.09f174","type":"ui_group","z":"","name":"Temperature","tab":"38f9dd4c.8f5c02","order":1,"disp":true,"width":"6","collapse":false},{"id":"f72ca27.a06916","type":"ui_group","z":"","name":"Humidity","tab":"38f9dd4c.8f5c02","order":2,"disp":true,"width":"6","collapse":false},{"id":"874937c9.aab818","type":"ui_group","z":"","name":"Vibration","tab":"38f9dd4c.8f5c02","order":3,"disp":true,"width":"6","collapse":false},{"id":"17f61769.6bf689","type":"ui_group","z":"","name":"Current","tab":"38f9dd4c.8f5c02","order":4,"disp":true,"width":"6","collapse":false},{"id":"38f9dd4c.8f5c02","type":"ui_tab","z":"","name":"Predective Maintainance","icon":"dashboard","disabled":false,"hidden":false}]